// GENERAL COLOURS
$black: #000;
$white: #fff;


// BRAND COLOURS
$brand-primary: #06435b; 		// Dark Blue
$brand-primary-alt: #0a6d94; 	// light blue
$brand-primary-alt2: #7baeb7;
$brand-primary-alt3: #f4feff;
$brand-primary-alt4: #dafcfe;
$brand-secondary: #7d7f80; 		// Grey
$brand-tertiary: #f1b33b; 		// Gold



// FONT COLOURS
//$body-color: #3b3a3f; 	// dark grey
$body-color: #717171;   	// dark grey
$link-color: #000; 			// black
$link-hover: #666;  		// Grey

$callout: #f1b33b; 			// callout gold
$callout-alt: #88090d; 		// callout red


// BUTTON COLOURS
$color-primary: #88090d;	// RED 
$color-secondary: #445057;	// DARK GREY
$color-tertiary: #adb0af;	// MEDIUM GREY


// BACKGROUND COLOURS
$bg-primary: #f8f8f8;
$bg-primary2: #fdfdfd;
//$bg-secondary: #445057;
//$bg-tertiary: #adb0af;


// BORDER COLOURS
$border-primary: #ccc;
$border-color-ul: #adb0af;
