// FONT FAMILIES
$font-default: Verdana, 'Helvetica Neue', Arial, sans-serif;
$font-light: 'light', 'Helvetica', Arial, sans-serif;
$font-reg: 'regular', 'Helvetica', Arial, sans-serif;
$font-semibold: 'semibold', 'Helvetica', Arial, sans-serif;
$font-bold: 'bold', 'Helvetica', Arial, sans-serif;
$font-sg: 'georgia', serif;

// $font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
// $font__pre: "Courier 10 Pitch", Courier, monospace;