/* Text meant only for screen readers. */
.hide-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: #eee;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: #000;
		display: block;
		@include rem(font-size, 18px);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* Do not show the outline on the skip link target. */
// #content[tabindex="-1"]:focus {
// 	outline: 0;
// }

/*:target           { background-color:#eee; }  style the target of */

// .accessibility-links{ position: absolute; width: 200px; top: -100%; }
.hide-divider { border: 0 none; height: 0 !important; margin: 0; padding: 0; }

.quick-links{
    background-color: $bg-primary;
    color: $brand-primary;
    @include rem(font-size, 14px);
    left: 10px;
    padding: 5px 10px;
    position: absolute;
    text-decoration: none;
    top: -100%;
    transition: top 200ms ease-in-out 0s;
    z-index: 5;
    transform: translateZ(0);
    }

.quick-links:focus{
    top: 0;
    outline: 1px solid $brand-primary;
    text-decoration: none;
    }

::-moz-selection{ background:#ddd; color:#333; text-shadow:none; }  /* style selected text */
::selection     { background:#ddd; color:#333; text-shadow:none; }  /* style selected text */

